# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables
.env

# Vercel & Build files
.vercel/
dist/
.cache/
output.log

# System files
.DS_Store
Thumbs.db
